<div class="box">
    <div class="legend-title">Load Details</div>

    <div class="load-details">
        <div class="table-results">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Load ID</th>
                    <th>Load Size</th>
                    <th>Producer Number</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="load in vm.truck_loads" class="pointer" ng-click="vm.selectLoad(load)"
                    ng-class="{'success' : load.isSelected, 'cancelled-load': load.currentStatus == 'Cancelled'}"
                        title="{{load.current_status}}">
                    <td class="text-left">{{load.id}}</td>
                    <td class="text-left">{{load.quantity}}</td>
                    <td class="text-left">{{load.producerNo}}</td>
                    <td class="text-left">{{load.currentStatus}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-6 col-xs-offset-3 margin-top10">
            <button class="btn-wide pointer btn-default"
                    ng-disabled="!vm.current_load || vm.current_booking.currentStatus == 'stand-by' || vm.current_load.currentStatus == 'cancelled'"
                    ng-click="vm.showAlterLoadPopup=true">
                <div class="btn-content">
                    <div class="display_table">
                        <div class="table-cell">Alter Load</div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>

<!-- Alter load popup -->
<div class="menu-panel" ng-show="!!vm.showAlterLoadPopup"></div>
<div class="center-menu menu-popup" ng-show="!!vm.showAlterLoadPopup">
    <span class="close-btn pointer" ng-click="vm.showAlterLoadPopup=false"></span>
    <div class="text-center">
        <span class="popup-title">Alter Load</span>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-4">
            <label>Load size:</label>
        </div>
        <div class="col-xs-8">
            <input type="number" ng-model="vm.current_load.quantity"/>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-4">
            <label>Reason:</label>
        </div>
        <div class="col-xs-8">
            <input type="text" ng-model="vm.current_load.reason"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 no-padding">
            <button class="btn-wide pointer btn-default"
                    ng-disabled="!vm.current_load.quantity || !vm.current_load.reason"
                    ng-click="vm.updateLoad()">
                <div class="btn-content">
                    <div class="display_table">
                        <div class="table-cell">Alter load</div>
                    </div>
                </div>
            </button>
        </div>


        <div class="col-xs-4 col-xs-offset-4 no-padding">
            <button class="btn-wide pointer btn-cancel-load"
                    ng-disabled="!vm.current_load.reason"
                    ng-click="vm.cancelLoad()">
                <div class="btn-content">
                    <div class="display_table">
                        <div class="table-cell">Cancel load</div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>

<!--Cancel-->
<div class="menu-panel" ng-show="!!vm.showCancelLoadPopup"></div>
<div class="center-menu menu-popup" ng-show="!!vm.showCancelLoadPopup">
    <span class="close-btn pointer" ng-click="vm.showCancelLoadPopup=false"></span>
    <div class="text-center">
        <span class="popup-title">Alert</span>
    </div>

    <div class="text-justify">
        Are you sure you want to cancel? This truck can only be added through the standby list if you proceed.
        There is NO undo. IT cannot fix this!!!
    </div>

    <div class="row buttons-group">
        <div class="col-xs-6 no-padding">
            <button class="btn-wide pointer btn-default" ng-click="vm.showCancelLoadPopup=false">
                <div class="btn-content">
                    <div class="display_table">
                        <div class="table-cell">Reconsider</div>
                    </div>
                </div>
            </button>
        </div>

        <div class="col-xs-6 no-padding">
            <button class="btn-wide pointer btn-default">
                <div class="btn-content">
                    <div class="display_table">
                        <div class="table-cell">Proceed</div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>


