<div class="bookings-producers-list">
    <div class="box">
        <div class="legend-title">Producer List</div>
        <div class="row">
            <div class="col-md-6">
                <div class="filters-container">
                    <div class="margin-bottom10">
                        <div class="col-sm-4 padding-right0">
                            <input type="number" ng-model="vm.producer_number" placeholder="Producer number"
                            />
                        </div>
                        <div class="col-sm-4 padding-right0">
                            <input type="number" ng-model="vm.load_number" placeholder="Load number"/>
                        </div>

                        <div class="col-sm-4 padding-right0">
                            <select ng-model="vm.selected_facility" ng-options="f.id as f.name for f in vm.facilities">
                            </select>
                        </div>
                    </div>

                    <div class="margin-bottom10">
                        <div class="col-sm-4 padding-right0">
                            <input type="text" ng-model="vm.producer_name" placeholder="Producer name"/>
                        </div>

                        <div class="col-sm-4 padding-right0">
                            <input type="date" ng-model="vm.booked_date" placeholder="Booked date"/>
                        </div>

                        <div class="col-sm-4 padding-right0">
                            <select ng-model="vm.selected_stream" ng-options="f.id as f.name for f in vm.streams">
                            </select>
                        </div>
                    </div>

                    <div class="margin-bottom10">
                        <div class="col-sm-offset-8 col-sm-4 padding-right0">
                            <select ng-model="vm.selected_office" ng-options="f.id as f.name for f in vm.offices">
                            </select>
                        </div>
                    </div>

                    <div class="search-btn" ng-click="vm.filterBookings()">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="short-table-results">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Truck ID</th>
                            <th>Delivery Date</th>
                            <th>Truck Size</th>
                            <th>Loads</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="r in vm.truck_bookings | orderBy: 'id'" class="pointer"
                            ng-click="vm.selectBookingToImprove(r)"
                            ng-class="{'success' : r.isSelected}">
                            <td class="text-left">{{r.id}}</td>
                            <td class="text-left">{{r.bookingDate}}</td>
                            <td class="text-left">{{r.truckSize}}</td>
                            <td class="text-left">{{r.loads_number}}</td>
                            <td class="text-left">{{r.currentStatus}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

