<div>
    <h1>Truck Bookings</h1>

    <div ng-include="'views/bookings/bookings_list.html'"></div>

    <div class="row">
        <div class="col-xs-6" ng-include="'views/bookings/booking_details.html'"></div>
        <div class="col-xs-6" ng-include="'views/bookings/booking_loads_list.html'"></div>
    </div>

    <div class="row">
        <div class="col-xs-6" ng-include="'views/bookings/standby_details.html'"></div>
        <div class="col-xs-6" ng-include="'views/bookings/producer_details.html'"></div>
    </div>
</div>