<div class="box">
    <div class="legend-title">Standby List</div>

    <div class="standby-list">
        <div class="table-results">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Truck ID</th>
                    <th>Allocated Date</th>
                    <th>Truck Size</th>
                    <th>Loads</th>
                    <th class="text-center">Select</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in vm.stand_by_list" class="pointer" ng-click="vm.selectStandByLoad(r)"
                    ng-class="{'success' : r.isSelected}">
                    <td class="text-left">{{r.truck_id}}</td>
                    <td class="text-left">{{r.truck_size}}</td>
                    <td class="text-left">{{r.producer}}</td>
                    <td class="text-left">{{r.producer_number}}</td>
                    <td class="text-center">
                        <input type="radio" ng-checked="r.isSelected"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-6 col-xs-offset-3 no-padding">
            <button class="btn-wide pointer btn-default" ng-click="vm.addToStandBy()">
                <div class="btn-content">
                    <div class="display_table">
                        <div class="table-cell">Add to StandBy</div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>

