<div class="box page-grid-cell">
    <div class="legend-title">Add truck</div>

    <div class="truck-details">
        <form novalidate name="truckForm"  class="text-center">
            <div class="col-xs-6 no-padding">
                <label>StandBy From:</label>
                <input type="date"
                       ng-required="true"
                       ng-change="vm.validateDate()"
                       class="user-inputs"
                       ng-model="vm.current_truck.preferred_date_from"/>
            </div>

            <div class="col-xs-6 no-padding">
                <label>StandBy To:</label>
                <input type="date"
                       ng-change="vm.validateDate()"
                       ng-required="true"
                       class="user-inputs"
                       ng-model="vm.current_truck.preferred_date_until"/>
            </div>


            <div class="col-xs-12 margin-top10" ng-if="vm.dateErrorMessages">
                <ul class="error-list">
                    <li ng-repeat="e in vm.dateErrorMessages" class="col-xs-12 alert-danger">{{e}}</li>
                </ul>
            </div>

            <div class="col-xs-12 text-center margin-top20">
                <label>Lead Days:</label>
                <input type="number"
                       ng-required="true"
                       class="user-inputs"
                       placeholder="Lead days"
                       ng-model="vm.current_truck.lead_days"/>
            </div>

            <div class="col-xs-12 text-center margin-top10">
                <label>Truck Size:</label>
                <input type="number"
                       class="user-inputs"
                       ng-required="true"
                       placeholder="Truck size"
                       ng-model="vm.current_truck.truck_size"/>
            </div>
        </form>

        <div class="action-controls">
            <button class="btn-action"
                    ng-disabled="!truckForm.$valid || vm.dateErrorMessages.length > 0"
                    ng-click="vm.addNewTruck()">
                    <div class="button-plus" ng-class="{'not-allowed': !truckForm.$valid || vm.dateErrorMessages.length > 0}"></div>
            </button>
        </div>
    </div>
</div>


