<div class="box page-grid-cell">
    <div class="legend-title">Add truck</div>

    <div class="truck-details">
        <div class="col-xs-6 no-padding">
            <label>StandBy From:</label>
            <input type="date" ng-model="vm.fromDate"/>
        </div>

        <div class="col-xs-6 no-padding">
            <label>StandBy To:</label>
            <input type="date" ng-model="vm.toDate"/>
        </div>

        <div class="col-xs-9 col-xs-offset-3 margin-top20">
            <label>Lead Days:</label>
            <input type="date" ng-model="vm.leadDays"/>
        </div>

        <div class="col-xs-9 col-xs-offset-3 margin-top10">
            <label>Truck Size:</label>
            <input type="number" ng-model="vm.truckSize"/>
        </div>
    </div>

    <div class="bottom-icon-container">
        <span class="button-plus"></span>
    </div>
</div>


