<div class="standby-list-main">
    <h1 class="text-center">Add to Standby List</h1>

    <div class="row">
        <div class="col-md-6" ng-include="'views/standby-list/producer_list.html'"></div>
        <div class="col-md-6" ng-include="'views/standby-list/add_truck.html'"></div>
    </div>

    <div class="row">
        <div class="col-md-6" ng-include="'views/standby-list/producer_details.html'"></div>
        <div class="col-md-6" ng-include="'views/standby-list/truck_details.html'"></div>
    </div>
</div>

