<div class="box page-grid-cell">
    <div class="legend-title">Producer List</div>

    <ul class="producer-details">
        <li>
            <span>Producer</span>
        </li>
        <li>
            <div>Producer Number: 12345</div>
        </li>
        <li>
            <div>Merit point: 72</div>
        </li>
        <li>
            <div>Phone number: 12345678</div>
        </li>
        <li>
            <div>Mobile number: 12345678</div>
        </li>
        <li>
            <div>Email: jac@knives.na</div>
        </li>

        <li>
            Load size: <input placeholder="Load size" ng-mode="vm.loadSize"/>
        </li>
    </ul>

    <div class="bottom-icon-container">
        <span class="button-plus"></span>
    </div>
</div>