<div class="box page-grid-cell">
    <div class="legend-title">Producer Details</div>

    <ul class="producer-details noselect">
        <li>
            <h4>Producer</h4>
        </li>
        <li>
            <label>Producer Number:</label>&nbsp;{{vm.current_producer.producerNo}}
        </li>
        <li>
            <label>Name:</label>&nbsp;{{vm.current_producer.legalName}}
        </li>
        <li>
            <label>Phone number:</label>&nbsp;{{vm.current_producer.telephoneNo}}
        </li>
        <li>
            <label>Mobile number:</label>&nbsp;{{vm.current_producer.smsNo}}
        </li>
        <li>
            <label>Email:</label>&nbsp;{{vm.current_producer.emailAddress}}
        </li>

        <li>
            <label>Load size:&nbsp;</label><input placeholder="Load size"
                              class="user-inputs"
                              ng-disabled="!vm.current_producer.producerNo"
                              ng-model="vm.current_producer.load_size"/>
        </li>
    </ul>


    <div class="action-controls">
        <button class="btn-action"
                ng-disabled="!(vm.current_producer  && vm.current_producer.load_size && vm.current_truck.wasAdded)"
                ng-click="vm.addProducerLoadToTruck()">
            <div class="button-plus" ng-class="{'not-allowed': !(vm.current_producer  && vm.current_producer.load_size && vm.current_truck.wasAdded)}"></div>
        </button>
    </div>
</div>