<div class="standby-producers-list">
    <div class="box page-grid-cell ">
        <div class="legend-title">Producer List</div>

        <!-- Search buttons-->
        <div class="col-xs-8">
            <div class="col-xs-12 no-padding">
                <input type="number" ng-model="vm.search.producerNo" class="user-inputs" placeholder="Producer Number"/>
            </div>
            <div class="col-xs-12 no-padding">
                <input type="text" ng-model="vm.search.legal_name" class="user-inputs" placeholder="Producer Name"/>
            </div>
        </div>

        <div class="col-xs-4 pull-right margin-top50" ng-click="vm.getProducersList()">
            <span class="button-search"></span>
        </div>

        <!--List-->
        <div class="col-xs-12 margin-top20">
            <div>
                <div class="list-header">
                    <div class="col-xs-6">Producer Number</div>
                    <div class="col-xs-6">Producer Name</div>
                </div>
                <ul class="noselect">
                    <li ng-repeat="p in vm.producers | orderBy: 'id'" class="pointer"
                        ng-click="vm.selectProducer(p)">
                        <div class="col-xs-6" ng-class="{'success' : p.isSelected}">{{p.producerNo}}</div>
                        <div class="col-xs-6" ng-class="{'success' : p.isSelected}">{{p.legalName}}</div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

