.box {
    padding: 10px;
    margin-top: 15px;
    border: 3px solid lightgray;
    width: 100%;
    float: left;
    position: relative;
}

button[disabled=disabled], button:disabled {
    color: lightgray !important;
}

.legend-title {
    position: absolute;
    top: -13px;
    font-size: 12px;
    background: #FFFFFF;
    padding: 2px 5px;
}

tr.selected-row > td {
    background: #BDBDBD !important;
}

/* --------------------------------------------------- BUTTONS --------------------------------------------------- */
.btn-default {
    font-size: 150%;
    position: relative;
    width: 100px;
    padding-bottom: 100px;
    border: solid 1px lightgray;
    overflow: hidden;
    margin: 5px auto auto;
    -webkit-box-shadow: 2px 2px 2px 0px lightgray;
    -moz-box-shadow: 2px 2px 2px 0px lightgray;
    box-shadow: 2px 2px 2px 0px lightgray;
}

.btn-wide {
    font-size: 120%;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;
    margin: 10px auto 0;
    -webkit-box-shadow: 5px 5px 5px 0px lightgray;
    -moz-box-shadow: 5px 5px 5px 0px lightgray;
    box-shadow: 5px 5px 5px 0px lightgray;
    cursor: pointer;
}

.btn-wide:hover {
    border: solid 2px lightgray;
}

.btn-cancel-load {
    background: #B40431 !important;
    color: #000;
}

.btn-content {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    cursor: pointer;
}

.display_table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    word-break: keep-all;
}

.page-grid-cell {
    height: 330px;
}

.action-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.action-controls-remove {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.btn-action {
    background: transparent;
    border: none;
    outline: none;
}

.not-allowed {
    cursor: not-allowed;
}

/* --------------------------------------------------- CHART --------------------------------------------------- */
.progress-bar {
    width: 100%;
    height: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.progress-bar-bar {
    width: 0;
    border-radius: 10px;

    background-color: lightgray;
    height: 100%;
    color: #fff;
    font-weight: normal
}

/* --------------------------------------------------- CONTACT LIST --------------------------------------------------- */
.status-icon {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.status-to-improve {
    background-image: url("../img/unlock.png");
}

.status-booked {
    background-image: url("../img/locked.png");
}

.status-busy {
    background-image: url("../img/loading.png");
}

.table-results {
    height: 200px;
    overflow-y: auto;
    width: 100%;
    border: solid 2px lightgray;
}

.filters-container {
    height: 250px;
    width: 100%;
}

.filters-container input, .filters-container select {
    border-radius: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 769px) {
    .filters-container {
        height: 350px;
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    .filters-container input, .filters-container select {
        width: 100% !important;
    }
}

.short-table-results {
    height: 250px;
    overflow-y: auto;
    width: 100%;
    border: solid 2px lightgray;
}

.short-table-results .table {
    min-width: 450px;
}

.truck-loads-results {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}

.search-btn {
    position: absolute;
    right: 30px;
    bottom: 5px;
    font-size: 30px;
    cursor: pointer;
}

.producers-list {
    padding: 10px 50px;
}

ul.truck-details {
    list-style-type: none;
    margin-left: -35px;
    height: 200px;
    font-weight: 400;
}

.truck-details > li:first-child {
    font-size: 16px !important;
    font-weight: 500;
}

.truck-details > li {
    position: relative;
}

.truck-details > li + li {
    margin-top: 10px;
}

.truck-details > li > .truck-status {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 0;
}

.truck-details .status {
    margin-right: 30px;
}

.load-details{
    height: 275px;
}

.bookings-standby-list {
    height: 203px;
    list-style-type: none;
    margin-left: -35px;
    font-weight: 400;
}

.bookings-standby-list li {
    float: left;
    padding: 5px 0;
    width: 100%;
}

ul.bookings-producer-details-list {
    list-style-type: none;
    margin-left: -35px;
    font-weight: 400;
}

.bookings-producer-details-list > li:first-child {
    font-size: 16px !important;
    font-weight: 500;
}

.bookings-producer-details-list > li + li {
    margin-top: 10px;
}

/* -------------------------------------------- STANDBY-LIST ------------------------------------------- */
ul.standby-producer-list {
    list-style: none;
    margin-left: -35px;
    height: 185px;
    overflow: auto;
}

.zebra li:nth-child(odd) > div {
    background: #FAFAFA;
}

.zebra div.success {
    background: #dff0d8 !important;
}


ul.standby-producer-details {
    list-style: none;
    height: 293px;
    margin-left: -35px;
    font-weight: 400;
}

.standby-list-main > input {
    max-width: 100%;
}

.bottom-icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    min-width: 50px;
}

.bottom-icon-remove {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.bookings-producers-list input {
    max-width: 100%;
    width: 100%;
    border: solid 1px lightgray;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
}

.bookings-producers-list select {
    width: 90%;
    background: transparent;
    padding: 6px 5px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.stand-by-popup input {
    display: inline-block;
}

.popup-label {
    min-width: 90px;
}

.cancelled-load {
    color: red !important;
    font-weight: 600;
}

.standby-producers-list {
    text-align: left;
}

.user-inputs {
    border-radius: 10px;
    border: solid 1px lightgray;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    outline: none;
    max-width: 140px !important;
}

/* Truck details*/
.standby-add-truck, .standby-truck-details {
    height: 302px;
}

.list-header {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    float: left;
    border-bottom: solid 2px;
}

.standby-truck-details ul {
    float: left;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    height: 180px;
    overflow-y: auto;
}

.standby-truck-details ul li {
    float: left;
    padding: 5px 0;
    width: 100%;
}

.standby-truck-details ul li:nth-child(odd) {
    background: #FAFAFA;
}

.standby-truck-details div.success {
    background-color: #dff0d8 !important;
}